#navbar{
    background-color: #151515;
}
#navbarNavAltMarkup{
    justify-content:end ;
}
.ramaraja-regular {
    font-family: "Ramaraja", serif;
    font-style: normal;
  }
 h1{
    font-family: "Source Serif 4", serif;
 }
 .red{
    color: red;
 }
 .h1-wrap-balance{
    text-wrap: balance;
 }
 @media screen and (max-width: 480px){
    .Mobile-contact{
        flex-direction: column;
    }
    .Form-mobile{
      width: 85%;
      margin: auto;
    }
    .image-hover{
      max-width: 105px !important;
    }
 }
 @media screen and (min-width: 490px){
   .Form-mobile{
     width: 50%;
   }
}
.card-img-top{
   transition: 0.3s;
}
.image-hover{
    width: 10rem;
}
.image-hover :hover {
   transform: scale(1.05);
}